.grade-control {
  padding: 20px 30px;
  background-color: darken($color: #fff, $amount: 2%);
  .list-item:hover {
    background-color: darken($color: #fff, $amount: 5%);
  }
  .join-grade-btn {
    margin-left: 5%;
  }
}
.create-grade-modal {
  .avatar-warp {
    width: 180px;
    margin: 10px;
    height: 180px;
    background-color: darken($color: #fff, $amount: 5);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .form-avatar {
      width: 90%;
      height: 90%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .avatar-upload-btn {
      margin-top: 5px;
      text-align: center;
      .ant-upload {
        width: 100px;
        height: 40px;
      }
    }
  }
  h3 {
    margin-top: 20px;
  }
  .name-input-bar {
    width: 100%;
  }
}
.grade-modal {
  height: 50vh;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  position: relative;
  .grade-avatar-warp {
    width: 120px;
    margin: 10px;
    height: 120px;
    background-color: darken($color: #fff, $amount: 5);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .grade-modal-avatar {
      width: 90%;
      height: 90%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .grade-avatar-upload-btn {
      margin-top: 5px;
      text-align: center;
      .ant-upload {
        width: 100px;
        height: 40px;
      }
    }
  }
  .edit-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    color: gray;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  .grade-modal-avatar {
    margin-top: 30px;
    width: 100px;
    height: 100px;
  }
  .grade-modal-info {
    flex: 1;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 10px;
    p{
      display: flex;
    }
    strong {
      font-size: 1.5em;
    }

    span.grade-modal-info-title {
      font-weight: 700;
      display: inline-block;
      width: 100px;
    }
    .grade-modal-info-des {
      padding: 5px;
      display: inline-block;
      width: 70%;
    }
    .grade-modal-member {
      .grade-modal-member-avatar {
        margin-right: 10px;
      }
    }
  }
}
