body {
  margin: 0;
  padding: 0;
}
.home {
  .header {
  }
  .body {
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: row;
    .sider {
      text-align: center;
      height: calc(100vh - 64px);
      flex: 0 0 40vw;
      overflow: scroll;
      max-width: 500px;
      min-width: 260px;
      width: 40vw;
      background-color: #fff;
      line-height: 120px;
      .sider-question-list {
        .question-list-item {
          transition: 0.3s all;
          cursor: pointer;
          text-align: left;
          &:hover {
            background-color: lightgrey;
          }
        }
      }
    }
    .content {
    }
  }
  .footer {
  }
}
