/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[0].use[3]!./src/register/index.scss ***!
  \*************************************************************************************************************************************************************************************************/
body {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0;
  margin: 0;
}
body .warpper {
  width: 98vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
body .warpper .register-window {
  padding: 20px 5%;
  width: 30vw;
  min-width: 300px;
  border-radius: 1vmin;
  box-shadow: 0px 15px 25px 0 rgba(0, 0, 0, 0.6);
}
body .warpper .register-window .title {
  text-align: center;
  font-size: 5vmin;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}
body .warpper .register-window .bottom-icons {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
body .warpper .register-window .bottom-icons svg {
  cursor: pointer;
}
