/*!**********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[0].use[3]!./src/student/app.scss ***!
  \**********************************************************************************************************************************************************************************************/
body {
  padding: 0;
  margin: 0;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
}

.user-info {
  float: left;
  width: 40vw;
  height: 40px;
  margin: 10px 24px 10px 0;
  display: flex;
  align-items: center;
}
.user-info .ft-avatar {
  margin-right: 10px;
}

.menu {
  float: right;
}

.content {
  padding: 0 50px;
}
.content .welcome {
  text-align: center;
}
.content .welcome .welcome-big {
  font-size: 8vmin;
}

.footer {
  text-align: center;
}

.welcome {
  padding: 20px 30px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  height: 80vh;
}
.welcome .welcome-big {
  text-align: center;
  width: 100%;
}
/*!*****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[0].use[3]!./src/student/components/examControl/examControl.scss ***!
  \*****************************************************************************************************************************************************************************************************************************/
.paper-info-modal .check-paper-info {
  text-align: center;
}
.paper-info-modal .check-paper-info .paper-info {
  text-align: left;
  padding: 0 40px;
}
.paper-info-modal .check-paper-info .paper-info .head {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}

.exam-control {
  padding: 20px 30px;
  background-color: #fafafa;
}
.exam-control .transition-warp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.exam-control .transition-warp .exam-card {
  width: 28vw;
  margin: 10px 10px;
  min-width: 420px;
  position: relative;
}
.exam-control .transition-warp .exam-card .more-btn {
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
  font-size: 0.7em;
}
.exam-control .transition-warp .exam-card .more-btn:hover {
  text-decoration: underline;
}
.exam-control .transition-warp .exam-card .state-font {
  font-size: 4vmin;
  margin: 2vmin 0;
}
.exam-control .transition-warp .exam-card .des-font {
  text-align: center;
  float: right;
  width: 40%;
}
.exam-control .transition-warp .exam-card.waiting strong {
  color: darkcyan;
}
.exam-control .transition-warp .exam-card.preparing strong {
  color: black;
}
.exam-control .transition-warp .exam-card.starting .des-font {
  cursor: pointer;
}
.exam-control .transition-warp .exam-card.starting .des-font:hover {
  text-decoration: underline;
}
.exam-control .transition-warp .exam-card.starting strong {
  color: darkred;
}
.exam-control .transition-warp .exam-card.correcting strong {
  color: #e67e00;
}
.exam-control .transition-warp .exam-card.end {
  color: gray;
}
.exam-control .transition-warp .exam-card.end .des-font {
  color: darkgreen;
  cursor: pointer;
}
.exam-control .transition-warp .exam-card.end .des-font:hover {
  text-decoration: underline;
}

.component-fade-enter {
  opacity: 0;
}

.component-fade-exit {
  opacity: 1;
}

.component-fade-enter-active {
  opacity: 1;
}

.component-fade-exit-active {
  opacity: 0;
}

.component-fade-enter-active,
.component-fade-exit-active {
  transition: 0.3s all ease-in-out;
}
/*!*******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[0].use[3]!./src/student/components/gradeControl/gradeControl.scss ***!
  \*******************************************************************************************************************************************************************************************************************************/
.grade-control {
  padding: 20px 30px;
  background-color: #fafafa;
}
.grade-control .list-item:hover {
  background-color: #f2f2f2;
}
.grade-control .join-grade-btn {
  margin-left: 5%;
}

.grade-modal {
  height: 50vh;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}
.grade-modal::-webkit-scrollbar {
  width: 4px;
}
.grade-modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.grade-modal::-webkit-scrollbar-track {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
.grade-modal .grade-modal-avatar {
  margin-top: 30px;
  width: 100px;
  height: 100px;
}
.grade-modal .grade-modal-info {
  flex: 1;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 10px;
}
.grade-modal .grade-modal-info strong {
  font-size: 1.5em;
}
.grade-modal .grade-modal-info span.grade-modal-info-title {
  font-weight: 700;
  display: inline-block;
  width: 100px;
  float: left;
}
.grade-modal .grade-modal-info .grade-modal-info-des {
  float: left;
  display: inline-block;
  width: 70%;
}
.grade-modal .grade-modal-info .grade-modal-member .grade-modal-member-avatar {
  margin-right: 10px;
}
/*!*****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[0].use[3]!./src/student/components/userSetting/userSetting.scss ***!
  \*****************************************************************************************************************************************************************************************************************************/
.user-setting {
  padding: 20px 30px;
  width: 60vw;
  left: 0;
  height: auto;
  right: 0;
  margin: 0 auto;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}
.user-setting .background-img {
  background-image: url("https://img2.baidu.com/it/u=616172321,1682314558&fm=253&fmt=auto&app=138&f=JPEG?w=800&h=500");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
}
.user-setting .user-info {
  width: 100%;
  display: flex;
  height: auto;
  align-items: flex-start;
  flex-direction: row;
}
.user-setting .user-info .user-avatar-warp {
  width: 180px;
  margin: 10px;
  height: 180px;
  transform: translateY(-30px);
  background-color: #f2f2f2;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.user-setting .user-info .user-avatar-warp .user-avatar {
  width: 90%;
  height: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.user-setting .user-info .user-avatar-warp .user-avatar-upload-btn {
  margin-top: 5px;
  text-align: center;
}
.user-setting .user-info .user-avatar-warp .user-avatar-upload-btn .ant-upload {
  width: 100px;
  height: 40px;
}
.user-setting .user-info .user-info-detail {
  padding: 10px;
  padding-left: 50px;
  flex: 1;
  position: relative;
}
.user-setting .user-info .user-info-detail p.control-btn {
  margin-top: 30px;
  text-align: center;
}
.user-setting .user-info .user-info-detail p.control-btn .btn {
  margin: 10px;
  width: 120px;
}
.user-setting .user-info .user-info-detail p.user-name {
  font-size: 2em;
  font-weight: 700;
  transform: translate(-30px, -15px);
}
.user-setting .user-info .user-info-detail p.user-info-change-btn {
  top: 0;
  position: absolute;
  right: 0;
  color: gray;
  cursor: pointer;
}
.user-setting .user-info .user-info-detail p.user-info-change-btn:hover {
  text-decoration: underline;
}
.user-setting .user-info .user-info-detail p span.title {
  font-size: 1.4em;
  font-weight: 550;
  width: 120px;
  display: inline-block;
}
.user-setting .user-info .user-info-detail p .input-bar {
  display: inline-block;
  width: 50%;
  margin-left: 0;
  margin-right: 10px;
}
.user-setting .user-info .user-info-detail p .input-bar.radio-group {
  font-size: unset;
  font-weight: unset;
}
/*!***************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[0].use[3]!./src/student/components/checkPaper/checkPaper.scss ***!
  \***************************************************************************************************************************************************************************************************************************/
.check-paper {
  padding: 20px 30px;
  background-color: #fafafa;
}
.check-paper .body table td {
  background-color: #fff;
  min-width: 50px;
  text-align: center;
}
