body {
  padding: 0;
  margin: 0;
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
}
.user-info {
  float: left;
  width: 40vw;
  height: 40px;
  margin: 10px 24px 10px 0;
  display: flex;
  align-items: center;
  .ft-avatar {
    margin-right: 10px;
  }
}

.menu {
  float: right;
}

.content {
  padding: 0 50px;
  .welcome {
    text-align: center;
    .welcome-big {
      font-size: 8vmin;
    }
  }
}

.footer {
  text-align: center;
}

.welcome {
  padding: 20px 30px;
  background-color: darken($color: #fff, $amount: 2%);
  display: flex;
  align-items: center;
  height: 80vh;
  .welcome-big{
    text-align: center;
    width: 100%;
  }
}
